.whiteTile {
  background-color: white;
  border: white solid 1px;
}

.blackTile {
  background-color: black;
  border: black solid 1px;
}

.selectedTile {
  border: blue solid 1px;
  background-color: yellow;
}

.gameWindow {
  width: 320px;
  padding-top: 50px;
  margin: auto;
}

#gameBoard {
  width: 100%;
  margin: auto;
  border: black 1px solid;
}
