.whiteTile {
  background-color: white;
}

.blackTile {
  background-color: black;
}

.gameWindow {
  width: 160px;
  padding-top: 50px;
  margin: auto;
}

.gameBoard {
  width: 100%;
  margin: auto;
}
